.w-100 {
  width: 100%;
}
.h-100vh {
  height: 100vh;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.d-flex {
  display: flex;
}
.my-3 {
  margin: 0.5rem 0;
}
